<footer class="app-footer">
    <span>
        <a href="http://elifbyte.com">DiKampus</a>
        © 2018 creativeKampus.</span>
    <span class="ml-auto">Powered by
        <a href="http://elifbyte.com">elifbyte</a>
    </span>
</footer>
